.contestdetailspage {
    margin-top: 50px;
}


.mini-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .mini-nav-items {
        display: flex;
        // gap: 20px;

        .mini-nav-item {
            cursor: pointer;
            padding: 10px 20px;
            font-size: 18px;
            color: #333;
            position: relative;
            font-weight: 600;

            &.active {
                color: #08AAA2;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    height: 2px;
                    width: 100%;
                    background-color: #08AAA2;
                }
            }
        }
    }
}

.contestdetailscontent {
    display: flex;
    flex-direction: column;
    border: 1px solid #333333;

    border-radius: 20px;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-around;
    text-align: justify;
    max-width: 85%;
    margin: 2rem auto;

    span {
        font-size: 20px;
        font-weight: 600;
        color: #333333;
    }

    div {
        ul {
            li {
                font-size: 18px;
                font-weight: 600;
                color: #333333;
            }
        }

        p {
            font-size: 15px;
            color: #333333;
        }

        ol {
            li {
                font-size: 15px;
                color: #333333;
            }
        }
    }


}

.rewards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 85%;
    margin: 40px auto;

}




/* /end Codepen Specific */
/* Ladder Navigation */


.container-wrap {
    max-width: 80%;
    margin: 0 auto;
}

.ladder-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 4px;
    justify-content: space-between;

    gap: 1rem;
    margin: 10px 0px;

    .filters {
        width: 40%;
        display: flex;
        align-items: center;
        border: 1px solid #B3B3B3 !important;
        border-radius: 0.6rem;
        padding-left: 1rem;


        .live-search-box {
            // width: 40vw;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin: 0;
            padding: 12px;
            outline: none;
            border: none;
        }

    }


}

.ladder-title {
    flex: 2;
}

.custom-select {
    position: relative;
    display: inline-block;

    select {
        display: inline-block;
        appearance: none;
        padding: 10px 50px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        background: white;
        position: relative;


    }

    .dropdown-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        pointer-events: none;
        transform: translateY(-50%);
        font-size: 20px;
        color: #888;
    }
}



/* /end Ladder Navigation */
/* Leaderboard Results */
.leaderboard-results {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #08AAA2;
    border-radius: 17px !important;
    box-shadow: 0 2px 40px 0 #B5B5B5;
    overflow: hidden;

    tbody tr th {
        padding: 12px;
        // color: #747474;
        font-size: 14px;
        font-weight: bold;
        border-right: 1px solid #6E6E73;
        border-bottom: 1px solid #6E6E73;

        &:last-child {
            border-right: none;
        }
    }

    tbody tr {
        background-color: #E9FFFF;
    }

    tbody td {
        padding: 7px;
        font-size: 16px;
        color: #000;
        border-right: 1px solid #6E6E73;

        &:last-child {
            border-right: none;
        }
    }

    tbody tr {


        &:nth-child(4n+2) {
            background: #FFFFFF
        }

        &:nth-child(4n+3) {
            background: #F4F4F4;
        }

        &:nth-child(4n+4) {
            background: #FFFFFF;
        }

        &:nth-child(4n+5) {
            background: #F4F4F4;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width:700px) {
    .ladder-nav .filters {
        width: 100%;
        margin-top: 1rem;

        .live-search-box {
            width: 100%;
        }
    }

    .ladder-nav {
        max-width: 80%;
        margin: 1rem auto;
        justify-content: center;
    }
}