.mainDashboard {
  display: flex;
  width: 100%;

  @media screen and (max-width: 720px) {
    height: auto;
  }
}

.contentDashboard {
  border-left: 1px solid rgb(233, 231, 231);
}

.top-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    cursor: pointer;
  }

  @media screen and (max-width: 720px) {
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    margin: 10px 0px;
  }
}

.edit-profile p {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;

  @media screen and (max-width: 720px) {
    padding: 8px;
  }

}

.upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-inner {
  margin: 0 auto;

  @media screen and (max-width: 720px) {
    width: 100%;
    margin: 0;
  }

  .img-box {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 3px solid #ffb800;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    @media screen and (max-width: 720px) {
      height: 100px;
      width: 100px;
      border: 1px solid #ffb800;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .image-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 720px) {
      flex-direction: row;
      justify-content: start;
      gap: 10px;

    }

    .usernameContainer{
      display: flex;
      flex-direction: column;

      gap: 5px;
      @media screen and (max-width: 720px) {
        gap: 5px;
      }
    }

    .name-username {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 720px) {
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }

      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 24px;
        margin: 0;

        @media screen and (max-width: 720px) {
          font-size: 20px;
        }

        .badge {
          height: 32px;
          width: 32px;
          margin-left: 5px;

          @media screen and (max-width: 720px) {
            height: 24px;
            width: 24px;
          }
        }

      }
    }

    .username {
      margin: 0;
      text-align: center;

      @media screen and (max-width: 720px) {
        font-size: 14px;
      }
    }
  }
}

.bio {
  text-align: center;
  margin: 0;
  @media screen and (max-width: 720px) {
    font-size: 14px;
    text-align: left;
    margin: 0;
  }
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  a {
    height: 24px;
    width: 24px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 720px) {
    gap: 10px;
    justify-content: start;
  }
}


.bio-skills-2 {
  display: none;
}

.detail-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 720px) {
    gap: 10px;
  }
}

.detail-box .profile-title {
  padding: 10px 20px;
  border: 1px solid gray;
  background: linear-gradient(90deg, #d2af59 0%, #76411b 100%);
  border-radius: 999px;
  font-size: 12px;
  color: white;

  @media screen and (max-width: 720px) {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.detail-box .previous-session {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 999px;
  font-size: 12px;
  cursor: pointer;

  @media screen and (max-width: 720px) {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.skills {
  display: flex;
  padding: 0 5px;
  gap: 5px;
  /* Adds space between the grid items */
  justify-content: center;
  /* Center items in the grid */
  flex-wrap: wrap;
  // grid-template-columns: repeat(4, 1fr);
  // grid-auto-flow: dense; /* Fill rows with items in the order they appear */ /* Fill rows with items in the order they appear */
}

.skill {
  padding: 5px 2rem;
  width: fit-content;

  border: 1px solid gray;
  border-radius: 999px;
  text-align: center;
  font-size: 12px;
  text-wrap: nowrap;
}

.heading{
  padding: 0px 6px;

  @media screen and (max-width: 720px) {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px;
  }
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;

  img {
    height: 9.8rem;
    width: 9.8rem;
    pointer-events: none;
    user-select: none;
    object-fit: contain;
  }

  p{
    text-align: center;
  }

  @media screen and (max-width: 720px) {
    gap: 10px;
    justify-content: space-around;
    overflow-x: auto;

    img {
      height: 50px;
      width: 50px;
    }

    p{
      font-size: 12px;
    }
  }
}

.refferal {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0px 6px;
  margin-bottom: 100px;
  gap: 10px;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  .copy-referral {
    display: flex;
    width: 50%;
    height: 3rem;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 1rem;

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  .copy-referral input {
    width: 80%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    outline: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 10px;
  }



  .copy-referral button {
    width: 20%;
    height: 100%;
    background-color: #04b39f;
    color: white;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
  }

  .name-username {
    text-align: center;
  }

  .share-now {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: start;

    p{
      margin: 0;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
    }
  }

}



h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}


.bottom-navbar{
  display: none;

  @media screen and (max-width: 720px) {
    display: flex;
  }
}