.faq {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 18px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25);


    .faqquestionanswer {
        flex: 1;
        justify-content: space-between;
        align-items: center;

        .faqquestion {
            font-weight: 500;
            font-size: 20px;
            display: flex;
            gap: 10px;
            flex-direction: row;
            justify-content: space-between;

            p {
                margin: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .faqanswer {

            font-size: 16px;
            max-height: 0;
            overflow: hidden;
            display: flex;
            gap: 25px;
            flex-direction: row;
            transition: max-height 0.5s ease-in-out;


        }
    }

    .faqopenclose {
        button {
            // padding: 5px 10px;
            margin-left: 10px;
            border: none;
            color: white;
            // background-color: white;
            // border-radius: 5px;
            cursor: pointer !important;
            background-color: none;
        }
    }

    &.open .faqanswer {
        max-height: 400px;

    }

    &.open {
        background-color: #E5FFFE;

        button {
            background-color: #E5FFFE;
        }

    }
}

@media screen and (max-width: 640px) {
    .faq .faqquestionanswer .faqquestion p {
        font-size: 16px;
    }

    .faq .faqquestionanswer .faqanswer p {
        font-size: 13px;
    }
}