.AllQuiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px;
  margin-bottom: 3rem; */
  /* height: 100%;
  width: 100%; */
}

.AllQuiz h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.all-quizzes-section {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


@media screen and (max-width: 768px) {
  .all-quizzes-section {
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}