.contestdatabox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 34px;
    width: 387px;
    // margin: 20px;
    box-shadow: 4px 4px 4px 4px rgba(194, 218, 217, 0.20);
    height: 515px;

    .contestdataimage {
        margin: auto;
    }

    .contestdataimage img {
        margin: 20px 19px;
    }

    .contestdatacontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 14px;
            font-weight: 500;
            margin: auto;
            padding: 10px 20px;
            color: #666666;
        }

        h3 {
            font-size: 22px;
            font-weight: 600;
            margin: auto;
            padding: 0px 10px;
            color: #1D1D1F;

        }
    }

    .contestdatatime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 12px;
            font-weight: 600;
            margin: auto;
            padding: 0px 20px;
            color: #1D1D1F;
        }

        h3 {
            font-size: 12px;
            font-weight: 500;
            margin: auto;
            padding: 0px 20px;
            color: #6E6E73;

        }

        .contesttotalregistered {


            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 20px;

                span {
                    border: 1px solid white;
                    border-radius: 50%;
                    padding: 4px 6px;
                    background-color: #D1D1D1;
                    color: #6E6E73;


                }
            }
        }
    }

    .contestdatabutton {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contestdatabutton button {
        background-color: #56AFB2;
        color: white;
        font-size: 19px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        padding: 8px 32px;
        border: none;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .contestdatabox {
        width: 378px;
    }
}

@media screen and (max-width:1183px) {
    .contestdatabox {
        width: 377px;
        gap: 0px;
    }
}

@media screen and (max-width:1140px) {
    .contestdatabox {
        // width: 100%;
        gap: 0px;
    }

    .contestdatadetails {
        gap: 0px;
        margin: 0px 0px;
        margin: 0px 0px;
        flex-wrap: wrap;

    }


}

@media screen and (max-width:1067px) {
    .contestdatabox {
        // width: 100%;
        gap: 0px;
    }

    .contestdatadetails {
        gap: 0px;
        margin: 0px 0px;
        flex-wrap: wrap;

    }


}