.Allcontest {
  .Allcontestcontent {
    display: flex;
    flex-direction: column;

    .Allcontestcontentheading {
      font-size: 1.25rem;
      text-align: center;
      font-weight: 300;
    }


    .Allcontestcontentheading .heading {
      font-weight:600;
      margin: 0 0 1.3rem 0;
    }

    .Allcontestcontentpharagraph {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Allcontestcontentpharagraph {
      p {
        font-size: 24px;
        color: #4c4c4c;
        text-align: center;
        margin: 0px 40px;
        text-align: center;
        width: 75%;
      }
    }
  }

  .Allcontestbuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;

    button {
      padding: 5px 30px;
      background-color: white;
      border-radius: 10px;
      margin: 10px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      border: 0.5px solid #B3B3B3;
      box-shadow: black;
    }

    .category-dropdown,
    .status-dropdown {
      position: absolute;
      top: 60px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 200px;
    }

    .category-dropdown {
      left: 0; // Adjust as necessary
    }

    .status-dropdown {
      left: 210px; // Adjust as necessary to position next to category button
    }

    .category-dropdown div,
    .status-dropdown div {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .AllContests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  @media screen and (max-width: 780px) {
    .Allcontestbuttons {
      flex-direction: row;
      align-items: center;
      margin: 12px 0px;
      justify-content: center;
    }

    .category-dropdown,
    .status-dropdown {
      left: 0; // Adjust as necessary for mobile view
    }
  }

  @media screen and (max-width: 1180px) {
    .Allcontestbuttons {
      max-width: 800px;
      margin: 21px;
    }
  }

  @media screen and (max-width: 600px) {
    .Allcontestcontentheading .heading {
      font-size: 1.6rem;
    }

    .Allcontestcontent .Allcontestcontentpharagraph {
      p {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width:850px){
    .Allcontestcontentheading  h1 {
        font-size: 3rem;
        padding-top: 3rem;
      }
  }
}
